h1 {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.display {
    margin: auto;
    padding: 2em;
    border: 20px ridge #0b3752;
    border-radius: 15%;
    background-color: #d6edfc;
}

.score {
    font-family: 'Courier New', Courier, monospace;
}

.status {
    font-family: 'Courier New', Courier, monospace;
}

.message {
    font-family: 'Courier New', Courier, monospace;
}

.game-track {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin: auto;
    margin-top: 2em;
}

.btn {}

.final {
    margin: auto;
}

.final h2 {
    color: rgb(45, 136, 255);
}